<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<!--[if IE]>
<script type="text/javascript" src="css/js/html5.min.js"></script>
<![endif]-->
<link href="css/main.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="css/js/jquery.min.js"></script>
<script type="text/javascript" src="css/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="css/js/jquery.appear.js"></script>
<script type="text/javascript" src="css/js/jquery.countTo.js"></script>
<script type="text/javascript" src="css/js/js.js"></script>
<title>全民拼图大战</title>
</head>
<body>
<article id="main">
  <nav class="nav">
    <ul>
      <li class="bac"><a href="#"></a></li>
      <li><a href="Vshop.hbs" class="nav1"><span>我的微店</span></a></li>
      <li><a href="myOrder.html" class="nav2"><span>我的订单</span></a></li>
      <li><a href="#" class="nav3"><span>二维码</span></a></li>
      <li><a href="#" class="nav4"><span>每日签到</span></a></li>
      <li><a href="#" class="nav5"><span>一元夺宝</span></a></li>
      <li><a href="#" class="nav9"><span>天狮微社区</span></a></li>
      <li><a href="jiameng.hbs" class="nav7"><span>商户加盟</span></a></li>
      <li><a href="games.html" class="nav10"><span>拼图大战</span></a></li>
      <li><a href="#" class="nav8"></a></li>
    </ul>
    <div class="bacBtn"></div>
  </nav>
  <section class="content games">
    <header>
      <div class="h38 rel pl10 pr10 bline"><a href="#" id="menu"></a>
        <div class="Logo2">
          <p class="f16">全民拼图大战</p>
          <p class="f12">Puzzle Game 1.01</p>
        </div>
        <!--<a href="#" id="cai">全部商品</a>--></div>
      <nav id="nav"><a href="index.hbs"><span>V-shop Name 1</span></span></a><a href="index.hbs"><span>V-shop Name 2</span></a><a href="index.hbs"><span>V-shop Name 3</span></a><a href="index.hbs"><span>V-shop Name 4</span></a></nav>
    </header>
    <!--以下是页面内容-->
    <div class="p10 mh410">
    <div class="tc"><img src="pt/2/1/images/3.jpg" alt="" class="" width="50"><br>拥有 <b>1</b> 块拼图</div>
<h1 class="mb5">第一期 - 新手入门（2×2）</h1>
      <p class="mb5 tc">本期拼图活动开启时间：2015.06.06 00:00</p>
      <p class="f16 mb10 tc cg">任务完成奖励：<b>30</b> 成长值 </p>
      <div class="line mb10"></div>
      <p class="mb10">分享本页面给微信好友或发送到朋友圈，邀请好友共同参与拼图大战，完成活动拼图的小伙伴们，即可领取当期活动奖励哦～ 还在等什么，赶快一起来挑战拼图吧！</p>
      <!--<div class="pt pt64"  style="background:url(pt/2/back.jpg) no-repeat 0 0;">
      <div id="img1"><span>1</span></div>
      <div id="img2"><span>2</span></div>
      <div id="img3"><span>3</span></div>
      <div id="img4"><span>4</span><img src="pt/8/images/4.jpg" alt=""></div>
      <div id="img5"><span>5</span><img src="pt/8/images/5.jpg" alt=""></div>
      <div id="img6"><span>6</span><img src="pt/8/images/6.jpg" alt=""></div>
      <div id="img7"><span>7</span><img src="pt/8/images/7.jpg" alt=""></div>
      <div id="img8"><span>8</span><img src="pt/8/images/8.jpg" alt=""></div>
      <div id="img9"><span>9</span><img src="pt/8/images/9.jpg" alt=""></div>
      <div id="img10"><span>10</span><img src="pt/8/images/10.jpg" alt=""></div>
      <div id="img11"><span>11</span><img src="pt/8/images/11.jpg" alt=""></div>
      <div id="img12"><span>12</span><img src="pt/8/images/12.jpg" alt=""></div>
      <div id="img13"><span>13</span><img src="pt/8/images/13.jpg" alt=""></div>
      <div id="img14"><span>14</span><img src="pt/8/images/14.jpg" alt=""></div>
      <div id="img15"><span>15</span><img src="pt/8/images/15.jpg" alt=""></div>
      <div id="img16"><span>16</span><img src="pt/8/images/16.jpg" alt=""></div>
      <div id="img17"><span>17</span><img src="pt/8/images/17.jpg" alt=""></div>
      <div id="img18"><span>18</span><img src="pt/8/images/18.jpg" alt=""></div>
      <div id="img19"><span>19</span><img src="pt/8/images/19.jpg" alt=""></div>
      <div id="img20"><span>20</span><img src="pt/8/images/20.jpg" alt=""></div>
      <div id="img21"><span>21</span><img src="pt/8/images/21.jpg" alt=""></div>
      <div id="img22"><span>22</span><img src="pt/8/images/22.jpg" alt=""></div>
      <div id="img23"><span>23</span><img src="pt/8/images/23.jpg" alt=""></div>
      <div id="img24"><span>24</span><img src="pt/8/images/24.jpg" alt=""></div>
      <div id="img25"><span>25</span><img src="pt/8/images/25.jpg" alt=""></div>
      <div id="img26"><span>26</span><img src="pt/8/images/26.jpg" alt=""></div>
      <div id="img27"><span>27</span><img src="pt/8/images/27.jpg" alt=""></div>
      <div id="img28"><span>28</span><img src="pt/8/images/28.jpg" alt=""></div>
      <div id="img29"><span>29</span><img src="pt/8/images/29.jpg" alt=""></div>
      <div id="img30"><span>30</span><img src="pt/8/images/30.jpg" alt=""></div>
      <div id="img31"><span>31</span><img src="pt/8/images/31.jpg" alt=""></div>
      <div id="img32"><span>32</span><img src="pt/8/images/32.jpg" alt=""></div>
      <div id="img33"><span>33</span><img src="pt/8/images/33.jpg" alt=""></div>
      <div id="img34"><span>34</span><img src="pt/8/images/34.jpg" alt=""></div>
      <div id="img35"><span>35</span><img src="pt/8/images/35.jpg" alt=""></div>
      <div id="img36"><span>36</span><img src="pt/8/images/36.jpg" alt=""></div>
      <div id="img37"><span>37</span><img src="pt/8/images/37.jpg" alt=""></div>
      <div id="img38"><span>38</span><img src="pt/8/images/38.jpg" alt=""></div>
      <div id="img39"><span>39</span><img src="pt/8/images/39.jpg" alt=""></div>
      <div id="img40"><span>40</span><img src="pt/8/images/40.jpg" alt=""></div>
      <div id="img41"><span>41</span><img src="pt/8/images/41.jpg" alt=""></div>
      <div id="img42"><span>42</span><img src="pt/8/images/42.jpg" alt=""></div>
      <div id="img43"><span>43</span><img src="pt/8/images/43.jpg" alt=""></div>
      <div id="img44"><span>44</span><img src="pt/8/images/44.jpg" alt=""></div>
      <div id="img45"><span>45</span><img src="pt/8/images/45.jpg" alt=""></div>
      <div id="img46"><span>46</span><img src="pt/8/images/46.jpg" alt=""></div>
      <div id="img47"><span>47</span><img src="pt/8/images/47.jpg" alt=""></div>
      <div id="img48"><span>48</span><img src="pt/8/images/48.jpg" alt=""></div>
      <div id="img49"><span>49</span><img src="pt/8/images/49.jpg" alt=""></div>
      <div id="img50"><span>50</span><img src="pt/8/images/50.jpg" alt=""></div>
      <div id="img51"><span>51</span><img src="pt/8/images/51.jpg" alt=""></div>
      <div id="img52"><span>52</span><img src="pt/8/images/52.jpg" alt=""></div>
      <div id="img53"><span>53</span><img src="pt/8/images/53.jpg" alt=""></div>
      <div id="img54"><span>54</span><img src="pt/8/images/54.jpg" alt=""></div>
      <div id="img55"><span>55</span><img src="pt/8/images/55.jpg" alt=""></div>
      <div id="img56"><span>56</span><img src="pt/8/images/56.jpg" alt=""></div>
      <div id="img57"><span>57</span><img src="pt/8/images/57.jpg" alt=""></div>
      <div id="img58"><span>58</span><img src="pt/8/images/58.jpg" alt=""></div>
      <div id="img59"><span>59</span><img src="pt/8/images/59.jpg" alt=""></div>
      <div id="img60"><span>60</span><img src="pt/8/images/60.jpg" alt=""></div>
      <div id="img61"><span>61</span><img src="pt/8/images/61.jpg" alt=""></div>
      <div id="img62"><span>62</span><img src="pt/8/images/62.jpg" alt=""></div>
      <div id="img63"><span>63</span><img src="pt/8/images/63.jpg" alt=""></div>
      <div id="img64"><span>64</span><img src="pt/8/images/64.jpg" alt=""></div>
      </div>-->
      <div class="pt pt4" style="background:url(pt/2/back.jpg) no-repeat 0 0;">
      <div id="img1"><span>1</span></div>
      <div id="img2"><span>2</span></div>
      <div id="img3"><span>3</span><img src="pt/2/1/images/3.jpg" alt="" class="pct100 vv"></div>
      <div id="img4"><span>4</span></div>
      </div>
      <p class="tc">泰济生医院</p>
      <div class="p10">
      <p class="mb10 tc"><input type="button" value="点此一起完成拼图" class="btn pct80" onclick="javascript:subImg('img4')" id="subImg"></p>
      <p class="mb10 tc"><input type="button" value="发起新拼图" class="pct80 whitebtn cr" onclick="javascript:location.href='games1.html';"></p>
    <p class="mb10 tc"><input type="button" value="历史期次" class="pct80 whitebtn" onclick="javascript:location.href='games2.html';"></p>
   <table class="tab1">
   	<tr>
   		<th>昵称</th>
      <th>拼图碎片</th>
      <th>参与时间</th>
   	</tr>
    <tr>
    	<td>栩栩如生</td>
    	<td>3</td>
    	<td>2015-06-06 23:52:38</td>
    </tr>
    <tr>
    	<td>栩栩如生</td>
    	<td>3</td>
    	<td>2015-06-06 23:52:38</td>
    </tr>
    <tr>
    	<td>栩栩如生</td>
    	<td>3</td>
    	<td>2015-06-06 23:52:38</td>
    </tr>
    <tr>
    	<td>栩栩如生</td>
    	<td>3</td>
    	<td>2015-06-06 23:52:38</td>
    </tr>
    <tr>
    	<td>栩栩如生</td>
    	<td>3</td>
    	<td>2015-06-06 23:52:38</td>
    </tr>
   </table>
</div>
    </div>
    <!--以下是页脚内容-->
    <footer>Copyright 2015 Tiens All rights reserved</footer>
  </section>
</article>
</body>
</html>
