<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<!--[if IE]>
<script type="text/javascript" src="css/js/html5.min.js"></script>
<![endif]-->
<link href="css/main.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="css/js/jquery.min.js"></script>
<script type="text/javascript" src="css/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="css/js/jquery.appear.js"></script>
<script type="text/javascript" src="css/js/jquery.countTo.js"></script>
<script type="text/javascript" src="css/js/js.js"></script>
<title>全民拼图大战</title>
</head>
<body>
<article id="main">
  <nav class="nav">
    <ul>
      <li class="bac"><a href="#"></a></li>
      <li><a href="Vshop.hbs" class="nav1"><span>我的微店</span></a></li>
      <li><a href="myOrder.html" class="nav2"><span>我的订单</span></a></li>
      <li><a href="#" class="nav3"><span>二维码</span></a></li>
      <li><a href="#" class="nav4"><span>每日签到</span></a></li>
      <li><a href="#" class="nav5"><span>一元夺宝</span></a></li>
      <li><a href="#" class="nav9"><span>天狮微社区</span></a></li>
      <li><a href="jiameng.hbs" class="nav7"><span>商户加盟</span></a></li>
      <li><a href="games.html" class="nav10"><span>拼图大战</span></a></li>
      <li><a href="#" class="nav8"></a></li>
    </ul>
    <div class="bacBtn"></div>
  </nav>
  <section class="content games">
    <header>
      <div class="h38 rel pl10 pr10 bline"><a href="#" id="menu"></a>
        <div class="Logo2">
          <p class="f16">全民拼图大战</p>
          <p class="f12">Puzzle Game 1.01</p>
        </div>
        <!--<a href="#" id="cai">全部商品</a>--></div>
      <nav id="nav"><a href="index.hbs"><span>V-shop Name 1</span></span></a><a href="index.hbs"><span>V-shop Name 2</span></a><a href="index.hbs"><span>V-shop Name 3</span></a><a href="index.hbs"><span>V-shop Name 4</span></a></nav>
    </header>
    <!--以下是页面内容-->
    <div class="p10 mh410">
      <h1 class="mb5">第一期 - 新手入门（2×2）</h1>
      <p class="mb5 tc">本期拼图活动开启时间：2015.06.06 00:00</p>
      <p class="f16 mb10 tc cg">任务完成奖励：<b>30</b> 成长值 </p>
      <div class="line mb10"></div>
      <div class="p10 tc f20 cr b"> 恭喜您当期抽取到 <span class="b">2</span> 号拼图碎片</div>
      <div class="pt ptcq">
      <div id="img2" class="pct100"><span>2</span><img src="pt/8/images/2.jpg" alt="" class="vv pct100"></div>
     </div>
      <div class="p10 mat">
      <p class="mb10 tc"><input type="button" value="马上去拼图！" class="btn pct80" onclick="javascript:location.href='games.html';"></p>
      <p class="mb10 tc"><input type="button" value="发起新拼图" class="btn pct80" onclick="javascript:location.href='games1.html';"></p>
      <div class="mb10 tc"><div class="whitebtn mat pct80"><a href="">查看参与记录</a>  |  <a href="">领取活动奖励</a></div></div>
<h1 class="mt25">全民拼图大战活动规则：</h1>
<p class="mt10">1. 关注天狮云服务微信公众平台并成功注册云微店店长的用户，均可参与本活动</p>
<p class="mt10">2. 用户参与拼图活动，每期将随机领取一枚拼图碎片。当和好友共同完成当期拼图时，即可领取</p>
<p class="mt10">3. 用户每期可以主动发起一次拼图活动召集，同时每期可以参与两次好友发起的拼图活动。</p>
<p class="mt10">4. 活动最终解释权归天狮所有</p>
</div>
    </div>
    <!--以下是页脚内容-->
    <footer>Copyright 2015 Tiens All rights reserved</footer>
  </section>
</article>
</body>
</html>
