<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<!--[if IE]>
<script type="text/javascript" src="css/js/html5.min.js"></script>
<![endif]-->
<link href="css/main.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="css/js/jquery.min.js"></script>
<script type="text/javascript" src="css/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="css/js/jquery.appear.js"></script>
<script type="text/javascript" src="css/js/jquery.countTo.js"></script>
<script type="text/javascript" src="css/js/js.js"></script>
<title>多彩生活</title>
</head>
<body>
<article id="main">
  <nav class="nav">
    <ul>
      <li class="bac"><a href="#"></a></li>
      <li><a href="Vshop.hbs" class="nav1"><span>我的微店</span></a></li>
      <li><a href="myOrder.html" class="nav2"><span>我的订单</span></a></li>
      <li><a href="#" class="nav3"><span>二维码</span></a></li>
      <li><a href="#" class="nav4"><span>每日签到</span></a></li>
      <li><a href="#" class="nav5"><span>一元夺宝</span></a></li>
      <li><a href="#" class="nav9"><span>天狮微社区</span></a></li>
      <li><a href="jiameng.hbs" class="nav7"><span>商户加盟</span></a></li>
      <li><a href="games.html" class="nav10"><span>拼图大战</span></a></li>
      <li><a href="#" class="nav8"></a></li>
    </ul>
    <div class="bacBtn"></div>
  </nav>
  <section class="content">
    <header>
    <div class="h38 rel pl10 pr10 bline"><a href="#" id="menu"></a>
    <a href="#" id="cai">全部商品</a></div>
      <nav id="nav"><a href="index.hbs"><span>V-shop Name 1</span></a><a href="index.hbs"><span>V-shop Name 2</span></a><a href="index.hbs"><span>V-shop Name 3</span></a><a href="index.hbs"><span>V-shop Name 4</span></a></nav>
    </header>
    <div class="fix"><a href="myOrder.html" class="back fl mt10 ml10 abtn pt5 pb5">返回</a></div>
    <!--以下是页面内容-->
    <div class="p10">
    <h1 class="title2">订单详情:</h1>
    <div class="db f16 p10 grayBac">订单总金币：256 <span class="abs r20 cr">已发运</span></div>
    <div class="mb10 bd2 ovh p10 bgwh">
    <p class="f14">收货人：进口量</p>
    <p class="f14">联系电话：觉18954574541</p>
    <p class="f14">收货地址：觉得快乐萨菲将扣篮大赛将阿里附近的快来撒</p>
    <div class="line"></div>
    <p class="f14">发运方式：韵达快递</p>
    <p class="f14">运单编号：887457458</p>
    <p class="f14">发运时间：2015-03-31 17:58:22</p>
    </div>
    <a href="index.hbs" class="db f16 p10 grayBac">Oyce的微店 > <span class="abs r20 cbl">进店看看</span></a>
    <div class="mb10 bd2 pro ovh bgwh">
    <div class="p10">
    <h1 class="f14 nb">订单号：VO3054222 <br><span class="f14">创建时间：2015-03-31 17:58:22</span></h1>
    <h1 class="f14 nb">付款方式：微信支付 <br><span class="f14">付款时间：2015-03-31 17:58:22</span></h1>
    </div>
    <div class="fl proL"><img src="images/1.jpg" alt="" class="pct100"></div>
    <div class="ovh p10">
        <h3 class="p0">2NE1金色进口女士钱包<span>女长款真皮时尚韩版皮夹</span></h3>
        <div class="line"></div>
        <div class="footer">
        <p class="tl f16">数量：128金币 * 2</p>
        <p class="tl f16">订单总金币:<span class="cr b">598</span></p>
        </div>
      </div>
    
    
    </div>
    </div>
    <!--以下是页脚内容-->
    <footer>Copyright 2015 Tiens All rights reserved</footer>
  </section>
</article>
</body>
</html>
