
<body style="background:#000;overflow: hidden;text-align: center;">
<img src="css/images/vshop.jpg" alt="" class="pct100  p0" style="
    margin: 0 auto;
">
<div style="
    position: absolute;
    top: 15%;
    text-align: center;
    width: 100%;
"><img src="css/images/logo.png" alt="" style="
    width: 55%;
    max-width: 300px;
">
<div style="background: rgba(0, 0, 0, 0.32);padding: 10px 0;margin-top: 30px;"><img src="css/images/slogin.png" alt="" style="width: 50%;max-width: 290px;"></div></div>
<a href="explain" style="
    color: #fff;
    position: absolute;
    bottom: 85px;
    padding: 10px 15px;
    /* border-radius: 27px; */
    left: 50%;
    text-align:center;
    margin-left: -106px;
    width: 180px;
    background: rgba(255,255,255,0.3);
    font-size: 16px;
">天狮云微店系统简介</a> <a href="vshop-homepage" style="
    color: #fff;
    position: absolute;
    bottom: 33px;
    padding: 10px 15px;
    /* border-radius: 27px; */
    left: 50%;
    margin-left: -106px;
    width: 180px;
    text-align: center;
    background: rgba(255,255,255,0.3);
    font-size: 16px;
">立即点此进入</a>
</body>

