<body>
<article id="main">
  {{? nav}}
  <section class="content" style="background:#F0F6DA">
    <header>
    <div class="h38 rel pl10 pr10 bline"><a href="#" id="menu"></a>
    </div>
      <nav id="nav"><a href="/"><span>V-shop Name 1</span></span></a><a href="blue.html"><span>V-shop Name 2</span></a><a href="blue.html"><span>V-shop Name 3</span></a><a href="blue.html"><span>V-shop Name 4</span></a></nav>
    </header>
    <div><img src="/images/u367.jpg" alt="" class="pct100"></div>
    <div class="fix"><a href="index.hbs" class="back fl mt10 ml10 abtn pt5 pb5">返回</a></div>
     <!--以下是页面内容-->
    <div class="p10">
    <div class="inline_box pro">
      <div class="inline_two mb4 bd1"><a href="/shop/pro_view.html"><img src="/images/A010_00.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色进口女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
        <p class="price cr">￥299.00</p>
      </div>
      <div class="inline_two bd1"><a href="/pro_view.html"><img src="/images/A011_00.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色口色色进口女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
        <p class="price cr">￥299.00</p>
      </div>
      <div class="inline_two mb4 bd1"><a href="/pro_view.html"><img src="/images/A011_00.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色进口女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
        <p class="price cr">￥299.00</p>
      </div>
      <div class="inline_two bd1"><a href="pro_view.html"><img src="/images/A015_00.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色进口女士钱包口女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
        <p class="price cr">￥299.00</p>
      </div>
      <div class="inline_two mb4 bd1"><a href="pro_view.html"><img src="/images/7.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色进口女包<span>女长款真皮时尚韩版皮夹</span></h2>
         <p class="price cr">￥299.00</p>
     </div>
      <div class="inline_two bd1"><a href="pro_view.html"><img src="/images/8.jpg" alt="" class="pct100 p5"></a>
        <h2>2女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
        <p class="price cr">￥299.00</p>
      </div>
      <div class="inline_two mb4 bd1"><a href="pro_view.html"><img src="/images/1.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色进口女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
        <p class="price cr">￥299.00</p>
      </div>
      <div class="inline_two bd1"><a href="pro_view.html"><img src="/images/5.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色口色进口女士钱金色进口女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
         <p class="price cr">￥299.00</p>
     </div>
      <div class="inline_two mb4 bd1"><a href="pro_view.html"><img src="/images/4.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色进口女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
         <p class="price cr">￥299.00</p>
     </div>
      <div class="inline_two bd1"><a href="pro_view.html"><img src="/images/5.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色进口女士钱包口女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
        <p class="price cr">￥299.00</p>
      </div>
      <div class="inline_two mb4 bd1"><a href="pro_view.html"><img src="/images/7.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色进口女包<span>女长款真皮时尚韩版皮夹</span></h2>
        <p class="price cr">￥299.00</p>
      </div>
      <div class="inline_two bd1"><a href="pro_view.html"><img src="/images/8.jpg" alt="" class="pct100 p5"></a>
        <h2>2女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
         <p class="price cr">￥299.00</p>
     </div>
    </div>
    </div>
    <!--以下是页脚内容-->
    {{> footer}}
  </section>
</article>
</body>
