{{> user-header}}
    <div class="p10 mh410">
      <div class="cBox" style="padding:30px 10px">
      <h3 class="title2 tc">Congratulations!</h3>
      <div class="line"></div>
<div class="tc">
      你的订单 <span class="cr b">T0200527</span> 已经付款成功！</div>
      </div>
      <h1 class="title2">感谢您使用天狮云微店，祝您购物愉快！</h1>
      <p>您可以<a href="/shop-homepage" class="cbl"> 点击云微店继续购物 </a>或点击左上角菜单，查看更多服务。</p>
    </div>
    {{> footer}}