{{> games-header}}
    <!--以下是页面内容-->
    <div class="p10 mh410">
      <h1 class="mb5">第一期 - 新手入门（2×2）</h1>
      <p class="mb5 tc">本期拼图活动开启时间：2015.06.06 00:00</p>
      <p class="f16 mb10 tc cg">任务完成奖励：<b>30</b> 成长值 </p>
      <div class="line mb10"></div>
      <div class="p10 tc f20 cr b"> 恭喜您当期抽取到 <span class="b">2</span> 号拼图碎片</div>
      <div class="pt ptcq">
      <div id="img2" class="pct100"><span>2</span><img src="/pt/8/images/2.jpg" alt="" class="vv pct100"></div>
     </div>
      <div class="p10 mat">
      <p class="mb10 tc"><input type="button" value="马上去拼图！" class="btn pct80" onclick="javascript:location.href='/games/games';"></p>
      <p class="mb10 tc"><input type="button" value="发起新拼图" class="btn pct80" onclick="javascript:location.href='/games/games1';"></p>
      <div class="mb10 tc"><div class="whitebtn mat pct80"><a href="">查看参与记录</a>  |  <a href="">领取活动奖励</a></div></div>
<h1 class="mt25">全民拼图大战活动规则：</h1>
<p class="mt10">1. 关注天狮云服务微信公众平台并成功注册云微店店长的用户，均可参与本活动</p>
<p class="mt10">2. 用户参与拼图活动，每期将随机领取一枚拼图碎片。当和好友共同完成当期拼图时，即可领取</p>
<p class="mt10">3. 用户每期可以主动发起一次拼图活动召集，同时每期可以参与两次好友发起的拼图活动。</p>
<p class="mt10">4. 活动最终解释权归天狮所有</p>
</div>
    </div>
    <!--以下是页脚内容-->
   {{> footer}}