<body>
<article id="main">
  {{> nav}}
  <section class="content games">
    <header>
      <div class="h38 rel pl10 pr10 bline"><a href="#" id="menu"></a>
        <div class="Logo2">
          <p class="f16">全民拼图大战</p>
          <p class="f12">Puzzle Game 1.01</p>
        </div>
        <!--<a href="#" id="cai">全部商品</a>--></div>
      <nav id="nav"><a href="../index.hbs"><span>V-shop Name 1</span></a><a href="../index.hbs"><span>V-shop Name 2</span></a><a href="../index.hbs"><span>V-shop Name 3</span></a><a href="../index.hbs"><span>V-shop Name 4</span></a></nav>
    </header>
    <!--以下是页面内容-->
    <div class="p10 mh410">
      <h1 class="mb5">第一期 - 新手入门（2×2）</h1>
      <p class="mb5 tc">本期拼图活动开启时间：2015.06.06 00:00</p>
      <p class="f16 mb10 tc cg">任务完成奖励：<b>30</b> 成长值 </p>
      <table class="tab1">
        <tbody><tr>
          <th class="pct40">参与记录</th>
          <th class="pct40">加入时间</th>
          <th class="pct20">完成度</th>
        </tr>
        <tr>
          <td><a href="games.hbs">我的拼图</a></td>
          <td>2015-06-06 22:32:17</td>
          <td class="tl"><span class="cgr">已领取</span></td>
        </tr>
        <tr>
          <td><a href="games.hbs">Richie的拼图</a></td>
          <td>2015-06-06 22:32:17</td>
          <td class="tl"><b><span class="cr">2</span>/4</b></td>
        </tr>
        <tr>
          <td><a href="games.hbs">Richie的拼图</a></td>
          <td>2015-06-06 22:32:17</td>
          <td class="tl"><a href="#" class="abtnL ml2">领取</a></td>
        </tr>
        <tr>
          <td><a href="games.hbs">Richie的拼图</a></td>
          <td>2015-06-06 22:32:17</td>
          <td class="tl"><b><span class="cr">2</span>/4</b></td>
        </tr>
      </tbody></table>
      <div class="line mb10 mt10"></div>
       <h1 class="mb5">第二期 - 新手入门（2×2）</h1>
      <p class="mb5 tc">本期拼图活动开启时间：2015.06.06 00:00</p>
      <p class="f16 mb10 cg tc">任务完成奖励：<b>30</b> 成长值 </p>
      <input type="button" value="您暂未参与本期，点此发起新拼图" class="pct100 whitebtn cr" onclick="javascript:location.href='/games/games1';">
      <div class="line mb10 mt10"></div>
       <h1 class="mb5 tc">第三期 - 初窥门径 (3 x 3)</h1>
      <p class="mb5 tc">本期拼图活动开启时间：2015.06.06 00:00</p>
      <p class="f16 mb10  cg tc">任务完成奖励：<b>50</b> 成长值 </p>
      <input type="button" value="您暂未参与本期，点此发起新拼图" class="pct100 whitebtn cr" onclick="javascript:location.href='/games/games1';">
      <div class="line mb10 mt10"></div>
       <h1 class="mb5 tc">第四期 - 小试身手 (4 x 4)</h1>
      <p class="mb5 tc">本期拼图活动开启时间：2015.06.06 00:00</p>
      <p class="f16 mb10 cg tc">任务完成奖励：<b>80</b> 成长值 </p>
      <input type="button" value="本期暂未开启" class="pct100 graybtn" onclick="javascript:location.href='';">
      <div class="line mb10 mt10"></div>
       <h1 class="mb5 tc">第五期 - 通关达人 (5 x 5)</h1>
      <p class="mb5 tc">本期拼图活动开启时间：2015.06.06 00:00</p>
      <p class="f16 mb10 cg tc">任务完成奖励：<b>150</b> 成长值 </p>
      <input type="button" value="本期暂未开启" class="pct100 graybtn" onclick="javascript:location.href='';">
      <div class="line mb10 mt10"></div>
       <h1 class="mb5 tc">第六期 - 登封造极 (6 x 6)</h1>
      <p class="mb5 tc">本期拼图活动开启时间：2015.06.06 00:00</p>
      <p class="f16 mb10 cg tc">任务完成奖励：<b>200</b> 成长值 </p>
      <input type="button" value="本期暂未开启" class="pct100 graybtn" onclick="javascript:location.href='';">
      <div class="line mb10 mt10"></div>
       <h1 class="mb5 tc">第七期 - 登封造极 (6 x 6)</h1>
      <p class="mb5 tc">本期拼图活动开启时间：2015.06.06 00:00</p>
      <p class="f16 mb10 cg tc">任务完成奖励：<b>200</b> 成长值 </p>
      <input type="button" value="本期暂未开启" class="pct100 graybtn" onclick="javascript:location.href='';">
      <div class="line mb10 mt10"></div>
       <h1 class="mb5 tc">第八期 - 我是传奇 (8 x 8)</h1>
      <p class="mb5 tc">本期拼图活动开启时间：2015.06.06 00:00</p>
      <p class="f16 mb10 cg tc">任务完成奖励：<b>300</b> 成长值 </p>
      <input type="button" value="本期暂未开启" class="pct100 graybtn" onclick="javascript:location.href='';">
      <div class="line mb10 mt10"></div>
    </div>
    <!--以下是页脚内容-->
    {{> footer}}
  </section>
</article>
</body>
