<body>
<article id="main">
  {{> nav}}
  <section class="content">
    <header>
    <div class="h38 rel pl10 pr10 bline"><a href="#" id="menu"></a>
    <a href="#" id="cai">全部商品</a></div>
      <nav id="nav"><a href="../"><span>V-shop Name 1</span></a><a href="../"><span>V-shop Name 2</span></a><a href="../index.hbs"><span>V-shop Name 3</span></a><a href="../index.hbs"><span>V-shop Name 4</span></a></nav>
    </header>
    <div class="fix"><a href="../" class="back fl mt10 ml10 abtn pt5 pb5">返回</a></div>
    <!--以下是页面内容-->
    <div class="p10">
    <h1 class="title2">我的订单:</h1>
    <a href="../" class="db f16 p10 grayBac">Oyce的微店 > <span class="abs r20 cr">未付款</span></a>
    <div class="mb10 bd2 pro ovh p15 bgwh">
    <a href="/shop/myOrder_view" class="db ovh">
    <h1 class="f14 nb p10">订单号：VO3054222 <br><span class="f14">创建时间：2015-03-31 17:58:22</span></h1>
    <div class="fl proL"><img src="/images/1.jpg" alt="" class="pct100"></div>
    <div class="ovh p10">
        <h3 class="p0">2NE1金色进口女士钱包<span>女长款真皮时尚韩版皮夹</span></h3>
<div class="line"></div>
        <div class="footer">
        <p class="tl f16">数量：128金币 * 2</p>
        <p class="tl f16">订单总金币:<span class="cr b">598</span></p>
        </div>
      </div>
    </a>
    </div>
    <a href="" class="db f16 p10 grayBac">Oyce的微店 > <span class="abs r20 cgr">已发货</span></a>
    <div class="mb10 bd2 pro ovh p15 bgwh">
    <a href="/shop/myOrder_view" class="db ovh">
    <h1 class="f14 nb p10">订单号：VO3054222 <br><span class="f14">创建时间：2015-03-31 17:58:22</span></h1>
    <div class="fl proL"><img src="/images/1.jpg" alt="" class="pct100"></div>
    <div class="ovh p10">
        <h3 class="p0">2NE1金色进口女士钱包<span>女长款真皮时尚韩版皮夹</span></h3>
<div class="line"></div>
        <div class="footer">
        <p class="tl f16">数量：128金币 * 2</p>
        <p class="tl f16">订单总金币:<span class="cr b">598</span></p>
        </div>
      </div>
    </a>
    </div>
    <a href="../" class="db f16 p10 grayBac">Oyce的微店 > <span class="abs r20">已付款</span></a>
    <div class="mb10 bd2 pro ovh p15 bgwh">
    <a href="/shop/myOrder_view" class="db ovh">
    <h1 class="f14 nb p10">订单号：VO3054222 <br><span class="f14">创建时间：2015-03-31 17:58:22</span></h1>
    <div class="fl proL"><img src="/images/1.jpg" alt="" class="pct100"></div>
    <div class="ovh p10">
        <h3 class="p0">2NE1金色进口女士钱包<span>女长款真皮时尚韩版皮夹</span></h3>
<div class="line"></div>
        <div class="footer">
        <p class="tl f16">数量：128金币 * 2</p>
        <p class="tl f16">订单总金币:<span class="cr b">598</span></p>
        </div>
      </div>
    </a>
    </div>
    <a href="/" class="db f16 p10 grayBac">Oyce的微店 > <span class="abs r20">已付款</span></a>
    <div class="mb10 bd2 pro ovh p15 bgwh">
    <a href="/shop/myOrder_view" class="db ovh">
    <h1 class="f14 nb p10">订单号：VO3054222 <br><span class="f14">创建时间：2015-03-31 17:58:22</span></h1>
    <div class="fl proL"><img src="/images/1.jpg" alt="" class="pct100"></div>
    <div class="ovh p10">
        <h3 class="p0">2NE1金色进口女士钱包<span>女长款真皮时尚韩版皮夹</span></h3>
<div class="line"></div>
        <div class="footer">
        <p class="tl f16">数量：128金币 * 2</p>
        <p class="tl f16">订单总金币:<span class="cr b">598</span></p>
        </div>
      </div>
    </a>
    </div>
    <a href="./" class="db f16 p10 grayBac">Oyce的微店 > <span class="abs r20">已付款</span></a>
    <div class="mb10 bd2 pro ovh p15 bgwh">
    <a href="/shop/myOrder_view" class="db ovh">
    <h1 class="f14 nb p10">订单号：VO3054222 <br><span class="f14">创建时间：2015-03-31 17:58:22</span></h1>
    <div class="fl proL"><img src="/images/1.jpg" alt="" class="pct100"></div>
    <div class="ovh p10">
        <h3 class="p0">2NE1金色进口女士钱包<span>女长款真皮时尚韩版皮夹</span></h3>
        <div class="line"></div>
        <div class="footer">
        <p class="tl f16">数量：128金币 * 2</p>
        <p class="tl f16">订单总金币:<span class="cr b">598</span></p>
        </div>
      </div>
    </a>
    </div>
    <input type="button" value="点击加载更多" class="btn mt10 pct100">
    </div>
    <!--以下是页脚内容-->
    {{> footer}}
  </section>
</article>
</body>

