{{> user-header}}
    <div class=" ovh rel pl10 pr10 mt10">
    <h1 class="title2">V-Shop Name 1</h1>
</div>
    <div class="fix"><a href="/" class="back fl mt10 ml10 abtn pt5 pb5">返回</a></div>
    <!--以下是页面内容-->
    <div class="p10">
    <div class="mb10 bd2 pro2 ovh p15 bgwh">
      <div class="fl proL"><a href="#"><img src="/images/1.jpg" alt="" class="pct100"></a></div>
      <div class="ovh proR">
        <h2 class="p0">2NE1金色进口女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
        <p class="price cr f18">￥299.00</p>
        <p class="cr f14 mb10">Countdown: 5 days 12 h 48 m 33 s</p>
        <p class="cg tdlt">Origin:￥299.00</p>
        <div class="footer">
          <p><span class="mr5 dib vam mtf4"><i class="min"></i>
            <input type="text" value="1" size="4" class="tc h33" id="">
            <i class="add"></i></span> 
            <input type="button" value="购买" class="btn ml10" onclick="javascript:location.href='/user-address';">
          </p>
        </div>
      </div>
    </div>
    <div class="f0 mb30">
      <h2 class="f14 bgl p5 mb4">产品详细</h2>
      <p><img src="/images/u34.jpg" alt="" class="pct100"><img src="/images/u39.jpg" alt="" class="pct100"><img src="/images/u41.jpg" alt="" class="pct100"></p>
    </div>
    </div>
    <!--以下是页脚内容-->
    {{> nav}}