{{> shop-header}}
<!--以下是页面内容-->
    <div class="p10 mt10">
      <h1 class="tc mb10">天狮云微店系统简介 V1.0.1</h1>
      <p class="mb10"><span class="b">1.	什么是天狮云微店</span><br>
天狮云微店是基于天狮云服务微信官方平台的功能性微店服务，为天狮经销商和非经销商会员提供品牌推广，人脉拓展及互动交流的服务。无需成本，简单几步便可拥有个人云微店，并能参与相应的主题活动等。
</p>
      <p class="mb10"><span class="b">2.	如何申请云微店资格</span><br>
通过天狮云服务平台或"一元夺宝"活动专区进入申请资格。
</p>
      <p class="mb10"><span class="b">3.	云微店的售卖商品</span><br>
云微店售卖的商品包含数码影音，食品饮料，生活用品，创意产品，时尚等多个分类商品，所有商品均为"非直销商品"，不参与任何直销奖金和会员星级的计算。
</p>
      <p class="mb10"><span class="b">4.	如何选择云微店商品</span><br>
用户可以自主从开放商品库中选择不同的商品加入个人云微店售卖，微店售出商品将按照比例获得相应的天狮金币奖励，不同商品所获得的金币奖励比例不同。同时，拥有更高的商铺等级将有更多的产品可供选择。
</p>
<p class="mb10"><span class="b">5.	云微店如何成长</span><br>
用户可以通过签到，分享，售出商品等方式获得不同的商铺成长值，成长值达到下一等级，店铺将会自动进行升级，可以解锁更多的商品售卖。同时参与微店英雄榜的全球排名，获得更高的荣誉。

</p>
<p class="mb10"><span class="b">6.	获得的天狮金币可以用来做什么？</span><br>
通过运营微店奖励的天狮金币，可以用来参与"一元夺宝"活动，或直接用于购买微店商品，以及参加其他更多的活动等。

</p>
<p class="mb10 tc"><br>云微店平台4月即将开启，敬请期待<br>
2015.03.09
</p>
    </div>
    <!--以下是页脚内容-->
    {{> footer}}
