{{> shop-header}}
    <!--以下是页面内容-->
    <div class="p10 mt10">
      <div class="cBox mb0">
        <h1 class="mb10">微店数据统计</h1>
        <p>微店数据统计功能仅面向正式版本VIP级别用户开放，敬请期待！</p>
      </div>
    </div>
    <!--以下是页脚内容-->
    {{> footer}}
