
<body>
<article id="main">
  {{> nav}}
  <section class="content">
    <header>
      <div class="h38 rel pl10 pr10 bline"><a href="#" id="menu"></a>
        <div class="Logo">
          <p class="f16">我的云微店</p>
          <p class="f12">Beta Version 1.0.1</p>
        </div>
        <a href="/shop-ranking" id="lv">LV10</a><!--<a href="#" id="cai">全部商品</a>--></div>
      <nav id="nav"><a href="../index.hbs"><span>V-shop Name 1</span></a><a href="../index.hbs"><span>V-shop Name 2</span></a><a href="../index.hbs"><span>V-shop Name 3</span></a><a href="../index.hbs"><span>V-shop Name 4</span></a></nav>
    </header>
    <!--以下是页面内容-->
    <div class="p10 mt10 mh410">
      <p class="mb10 tc"><a href="#"><img src="/images/gonggao.jpg" alt="" class="pct100"></a></p>
      <div class="mb10 mt10">
        <p class="b f14 line db">微店公告</p>
        <a href="#" class="db">天狮云微店是基于天狮云服务微信官和非经销商会。</a> <a href="#" class="db">天狮云微店是基于天狮云服务微信官和非经销商会。</a> </div>
      <div class="inline_box Vshop">
        <div class="inline_three"><a href="/user-order"><span class="Vnav1"></span>订单管理</a></div>
        <div class="inline_three"><a href="/shop-package"><span class="Vnav2"></span>产品组合</a></div>
        <div class="inline_three"><a href="/shop-history"><span class="Vnav3"></span>推广激励</a></div>
        <div class="inline_three"><a href="/shop-data"><span class="Vnav4"></span>数据分析</a></div>
        <div class="inline_three"><a href="/shop-ranking"><span class="Vnav5"></span>微店英雄榜</a></div>
        <div class="inline_three"><a href="/shop-join"><span class="Vnav6"></span>商户加盟</a></div>
        <div class="inline_three"><a href="/shop-hero"><span class="Vnav8"></span>排行榜</a></div>
        <div class="inline_three"><a href="/games"><span class="Vnav11"></span>拼图大战</a></div>
        <div class="inline_three"><a href="/shop-sale"><span class="Vnav12"></span>限时抢购</a></div>
        <div class="inline_three"><a href="/shop-inviteCode"><span class="Vnav13"></span>邀请码</a></div>
      </div>
    </div>
    <!--以下是页脚内容-->
    {{> footer}}
  </section>
</article>
</body>

