{{> user-header}}
    <!--以下是页面内容-->
    <div class="eBox tc">
<span class="f13" style="color:#F1B7B7">您当前已获得特别推广佣金</span><br><span class="f40 cyl fa b">4,322</span><span class="cyl"> 枚</span><br><span class="f13 cyl">天狮金币</span></div>
    <div class="p10 mt10">
      <h1 class="title2 mb10">产品清单列表（每组最多12款哦~）</h1>
      <div class="cBox pb35">
      <p class="tr mb5 cr"><a href="javascript:void(0)" class="abtnQ" id="abtnQ"></a>
			<script type="text/javascript">
			$(document).ready(function() {
			$("#abtnQ").toggle(function(){
					$(this).removeClass().attr("class","abtnX");
					},function(){
						$(this).removeClass().attr("class","abtnQ");
						})
			});
      </script></p>
      <h2 class="mb10 f16"><span class="yfb nb">已发布产品：<b class="cr">5</b>/12</span>圣诞新春产品促销套装，圣诞新春产品促销套装</h2>
      <p class="tr l0 abs pct100 b10">
      <a href="#" class="abtnItem1 inline_three"><span>选择产品</span></a><a href="#" class="abtnItem2 inline_three"><span>产品统计</span></a><a href="#" class="abtnItem3 inline_three"><span>预览并分享</span></a>
      </p></div>
      <div class="cBox pb35">
      <p class="tr mb5 cr"><a href="javascript:void(0)" class="abtnQ" id="abtnQ"></a>
			<script type="text/javascript">
			$(document).ready(function() {

			$("#abtnQ").toggle(function(){
					$(this).removeClass().attr("class","abtnX");
					},function(){
						$(this).removeClass().attr("class","abtnQ");
						})

			});
      </script></p>
      <h2 class="mb10 f16"><span class="yfb nb">已发布产品：<b class="cr">5</b>/12</span>圣诞新春产品促销套装，圣诞新春产品促销套装</h2>
      <p class="tr l0 abs pct100 b10">
      <a href="#" class="abtnItem1 inline_three"><span>选择产品</span></a><a href="#" class="abtnItem2 inline_three"><span>产品统计</span></a><a href="#" class="abtnItem3 inline_three"><span>预览并分享</span></a></p></div>
      <div class="cBox pb35">
      <p class="tr mb5 cr"><a href="javascript:void(0)" class="abtnQ" id="abtnQ"></a>
			<script type="text/javascript">
			$(document).ready(function() {

			$("#abtnQ").toggle(function(){
					$(this).removeClass().attr("class","abtnX");
					},function(){
						$(this).removeClass().attr("class","abtnQ");
						})

			});
      </script></p>
      <h2 class="mb10 f16"><span class="yfb nb">已发布产品：<b class="cr">5</b>/12</span>圣诞新春产品促销套装，圣诞新春产品促销套装</h2>
      <p class="tr l0 abs pct100 b10">
      <a href="#" class="abtnItem1 inline_three"><span>选择产品</span></a><a href="#" class="abtnItem2 inline_three"><span>产品统计</span></a><a href="#" class="abtnItem3 inline_three"><span>预览并分享</span></a></p></div>
      <div class="cBox pb35">
      <p class="tr mb5 cr"><a href="javascript:void(0)" class="abtnQ" id="abtnQ"></a></p>
      <h2 class="mb10 f16"><span class="yfb nb">已发布产品：<b class="cr">5</b>/12</span>&nbsp;</h2>
      <p class="tr l0 abs pct100 b10">
      <a href="#" class="abtnItem1 inline_three"><span>选择产品</span></a><a href="#" class="abtnItem2 inline_three"><span>产品统计</span></a><a href="#" class="abtnItem3 inline_three"><span>预览并分享</span></a></p>
      </div>
      <a href="/shop-proSel" class="bBox tc rel"><span class="ad">+</span><div class="btnad"><div>添加新产品清单<br><span class="f13">内测普通用户最多添加3个促销产品组</span></div></div></a>
      <a href="/shop-proSel" class="dBox tc rel"><span class="ad">+</span><div class="btnad"><div>店铺等级 LV10<br><span class="f13">当您的达到 LV12 级时，开放此产品组</span></div></div></a>
    </div>
    <!--以下是页脚内容-->
   {{> footer}}