{{> user-header}}
     <!--以下是页面内容-->
     <div class="p10 mh410">
     <div class="cBox mb30 tc">
        <h1 class="f14 line">您的云微店邀请码为 </h1>
        <div class="f40 cr fa b">457841</div>
      </div>
     <h2 class="title2 f14">被邀请人列表</h2>
    <table class="tab1">
   	<tbody><tr>
   		<th class="pct30">昵称</th>
      <th class="pct40">注册时间</th>
      <th class="pct30">交易额</th>
   	</tr>
    <tr>
    	<td>栩栩如生</td>
    	<td>2015-06-06 23:52:38</td>
    	<td>3</td>
    </tr>
    <tr>
    	<td>栩栩如生</td>
    	<td>2015-06-06 23:52:38</td>
    	<td>3</td>
    </tr>
    <tr>
    	<td>栩栩如生</td>
    	<td>2015-06-06 23:52:38</td>
    	<td>3</td>
    </tr>
    <tr>
    	<td>栩栩如生</td>
    	<td>2015-06-06 23:52:38</td>
    	<td>3</td>
    </tr>
    <tr>
    	<td>栩栩如生</td>
    	<td>2015-06-06 23:52:38</td>
    	<td>3</td>
    </tr>
   </tbody></table>
   </div>
    <!--以下是页脚内容-->
    {{> footer}}
