{{> user-header}}
    <div class="fix"><a href="/shop-history" class="back fl mt10 ml10 abtn pt5 pb5">返回</a></div>
    <!--以下是页面内容-->
    <div class="p10">
    <h1 class="title2">激励详情</h1>
    <div class="db f16 p10 grayBac cr b">本单激励金币：256 <span class="abs r20 nb">已拨付</span></div>
    <div class="mb10 bd2 bgwh ovh pro">
    <div class="p10">
    <h1 class="f14 nb">购  货  人：韵达快递<br><span class="f14">定单编号：887457458</span><br>付款时间：2015-03-31 17:58:22</h1>
    </div>
    <div class="fl proL"><img src="/images/1.jpg" alt="" class="pct100"></div>
    <div class="ovh p10">
        <h3 class="p0">2NE1金色进口女士钱包<span>女长款真皮时尚韩版皮夹</span></h3>
        <div class="line"></div>
        <div class="footer">
        <p class="tl f16">激励比率:25%</p>
        <p class="tl f16">实付金币:598</p>
        <p class="tl f16">总激励金币:<span class="cr b">12.5</span></p>
        </div>
      </div>
    </div>
    </div>
    <!--以下是页脚内容-->
    {{> footer}}