{{> shop-header}}
    <!--以下是页面内容-->
    <div class="p10 mh410">
      <h1 class="mb10"> 云微店二维码 </h1>
      <p class="mb10">微店英雄，谁与争锋！快来查看，今天你榜上有名了吗~</p>
      <div class="line mb10"></div>
      <div class="p10 mb10 pro tc">
        <img src="/images/er.jpg" alt="">
      </div>
      <p class="mb10">&nbsp;</p>
    </div>
    <!--以下是页脚内容-->
    {{> footer}}
