<body>
<article id="main">

  <section class="content" style="background:#fff">
    <header>
    <div class="h38 rel pl10 pr10 bline"><a href="#" id="menu"></a>
    </div>
      <nav id="nav"><a href="/"><span>V-shop Name 1</span></a><a href="blue.html"><span>V-shop Name 2</span></a><a href="blue.html"><span>V-shop Name 3</span></a><a href="blue.html"><span>V-shop Name 4</span></a></nav>
    </header>
    <div class=""><img src="/images/u368.jpg" alt="" class="pct100"></div>
     <!--以下是页面内容-->
    <div class="p10 mh410">
    <h2 class="title2 tc f18 mb10">微店英雄榜</h2>
    <dl class="paiming">
    <dt class="item1 "><span class="f20 cr fa">1</span><img src="/css/images/user.png" alt="" class="userimg mr5"><span class="f16">昵称:的上来看就</span><span class="abs r20 f20 t10 cr b">874 <span class="f12">金币</span></span></dt>
    	<dd><span>店铺等级:LV8</span><span>成长值:1254</span></dd>
    </dl>
    <dl class="paiming">
    <dt class="item1 "><span class="f20 cr fa">2</span><img src="/css/images/user.png" alt="" class="userimg mr5"><span class="f16">昵称:的上来看就</span><span class="abs r20 f20 t10 cr b">874 <span class="f12">金币</span></span></dt>
    	<dd><span>店铺等级:LV8</span><span>成长值:1254</span></dd>
    </dl>
    <dl class="paiming">
    <dt class="item1 "><span class="f20 cr fa">3</span><img src="/css/images/user.png" alt="" class="userimg mr5"><span class="f16">昵称:的上来看就</span><span class="abs r20 f20 t10 cr b">874 <span class="f12">金币</span></span></dt>
    	<dd><span>店铺等级:LV8</span><span>成长值:1254</span></dd>
    </dl>
    <dl class="paiming">
    <dt class="item1 "><span class="f20 cr fa">3</span><img src="/css/images/user.png" alt="" class="userimg mr5"><span class="f16">昵称:的上来看就</span><span class="abs r20 f20 t10 cr b">874 <span class="f12">金币</span></span></dt>
    	<dd><span>店铺等级:LV8</span><span>成长值:1254</span></dd>
    </dl>
    <dl class="paiming">
    <dt class="item1 "><span class="f20 cr fa">3</span><img src="/css/images/user.png" alt="" class="userimg mr5"><span class="f16">昵称:的上来看就</span><span class="abs r20 f20 t10 cr b">874 <span class="f12">金币</span></span></dt>
    	<dd><span>店铺等级:LV8</span><span>成长值:1254</span></dd>
    </dl>
    <dl class="paiming">
    <dt class="item1 "><span class="f20 cr fa">3</span><img src="/css/images/user.png" alt="" class="userimg mr5"><span class="f16">昵称:的上来看就</span><span class="abs r20 f20 t10 cr b">874 <span class="f12">金币</span></span></dt>
    	<dd><span>店铺等级:LV8</span><span>成长值:1254</span></dd>
    </dl>
    </div>
    <!--以下是页脚内容-->
    {{> footer}}
  </section>
</article>
</body>

