{{> user-header}}
      <div class="fix"><a href="/shop-join" class="back fl mt10 ml10 abtn pt5 pb5">返回</a></div>
    <!--以下是页面内容-->
    <div class="p10">
      <h1 class="title2">供应商加盟申请:</h1>
      <div class="cBox mb0">
        <h1 class="mb10 tc">您的加盟申请编号</h1>
        <p class="tc f20"><span class="cr b">J0318</span></p>
        <div class="line mb10"></div>
        <p>您的加盟申请已收到，7个工作日内，我们会由专人与您取得联系。非常感谢！</p>
      </div>
    </div>
    <!--以下是页脚内容-->
    {{> footer}}