<body>
<article id="main">
  {{> nav}}
  <section class="content">
    <header>
      <div class="h38 rel pl10 pr10 bline"><a href="#" id="menu"></a>
        <div class="Logo">
          <p class="f16">我的云微店</p>
          <p class="f12">Beta Version 1.0.1</p>
        </div>
        <a href="/shop-ranking" id="lv">LV10</a>
        <!--<a href="#" id="cai">全部商品</a>--></div>
      <nav id="nav"><a href="/"><span>V-shop Name 1</span></a><a href="../index.hbs"><span>V-shop Name 2</span></a><a href="../index.hbs"><span>V-shop Name 3</span></a><a href="../index.hbs"><span>V-shop Name 4</span></a></nav>
    </header>
    <!--以下是页面内容-->
    <div class="p10 mh410">
      <h1 class="mb10"> 云微店二维码 </h1>
      <p class="mb10">微店英雄，谁与争锋！快来查看，今天你榜上有名了吗~</p>
      <div class="line mb10"></div>
      <div class="p10 mb10 pro tc">
        <img src="/images/er.jpg" alt="">
      </div>
      <p class="mb10">&nbsp;</p>
    </div>
    <!--以下是页脚内容-->
    {{> footer}}
  </section>
</article>
</body>
