{{> shop-header}}
    <!--以下是页面内容-->
    <div class="p10 mt10">
      <div class="cBox mb0">
        <h1>微店数据统计</h1>
        <p class="mb10">您总计获得云微店推广激励</p>
        <p class="tc f20 mb10"><span class="cr b">35,422</span> 天狮金币</p>
        <div class="line mb10"></div>
        <p>已获得待拨付 <span class="r"><span class="b">35,022</span> 天狮金币</span></p>
        <p>已拨付<span class="r"> <span class="b">400</span> 天狮金币</span></p>
        <h2 class="mt10 f16">微店数据统计</h2>
        <p>已获得待拨付 <span class="r"><span class="b">35,022</span> 天狮金币</span></p>
        <p>已拨付<span class="r"> <span class="b">400</span> 天狮金币</span></p>
        
      </div>
      <p class="p5 mb10 bgc">您的个人金币账户余额：<span class="r"><span class="cr b">2,407</span> 天狮金币</span></p>
      <h2 class="title2">推广激励明细</h2>
      <a class="cBox inline_box mb10 db" href="/shop-historyView">
        <div class="inline_two f14 pct60">类型：<br> VO3054222</div>
        <div class="inline_four f12 cg  pct40">日期：<br>2015-03-31</div>
        <div class="line"></div>
        <div class="inline_two f14 pct60">名称： <br>栩栩如生</div>
        <div class="inline_four f14 cr pct40">激励值：<br>182枚 天狮金币</div>
      </a>
      <a class="cBox inline_box mb10 db" href="/shop-historyView">
        <div class="inline_two f14 pct60">类型：<br> VO3054222</div>
        <div class="inline_four f12 cg  pct40">日期：<br>2015-03-31</div>
        <div class="line"></div>
        <div class="inline_two f14 pct60">名称： <br>栩栩如生</div>
        <div class="inline_four f14 cr pct40">激励值：<br>182枚 天狮金币</div>
      </a>
      <a class="cBox inline_box mb10 db" href="/shop-historyView">
        <div class="inline_two f14 pct60">类型：<br> VO3054222</div>
        <div class="inline_four f12 cg  pct40">日期：<br>2015-03-31</div>
        <div class="line"></div>
        <div class="inline_two f14 pct60">名称： <br>栩栩如生</div>
        <div class="inline_four f14 cr pct40">激励值：<br>182枚 天狮金币</div>
      </a>
      <a class="cBox inline_box mb10 db" href="/shop-historyView">
        <div class="inline_two f14 pct60">类型：<br> VO3054222</div>
        <div class="inline_four f12 cg  pct40">日期：<br>2015-03-31</div>
        <div class="line"></div>
        <div class="inline_two f14 pct60">名称： <br>栩栩如生</div>
        <div class="inline_four f14 cr pct40">激励值：<br>182枚 天狮金币</div>
      </a>
      <a class="cBox inline_box mb10 db" href="/shop-historyView">
        <div class="inline_two f14 pct60">类型：<br> VO3054222</div>
        <div class="inline_four f12 cg  pct40">日期：<br>2015-03-31</div>
        <div class="line"></div>
        <div class="inline_two f14 pct60">名称： <br>栩栩如生</div>
        <div class="inline_four f14 cr pct40">激励值：<br>182枚 天狮金币</div>
      </a>
      <input type="button" value="点击加载更多" class="btn mt10 pct100">
    </div>
    <!--以下是页脚内容-->
    {{> footer}}
