<body>
<article id="main">
  {{> nav}}
  <section class="content">
    <header>
      <div class="h38 rel pl10 pr10 bline"><a href="#" id="menu"></a>
        <div class="Logo">
          <p class="f16">我的云微店</p>
          <p class="f12">Beta Version 1.0.1</p>
        </div>
        <a href="" id="lv">LV10</a>
        <!--<a href="#" id="cai">全部商品</a>--></div>
      <nav id="nav"><a href="../"><span>V-shop Name 1</span></a><a href="../index.hbs"><span>V-shop Name 2</span></a><a href="../index.hbs"><span>V-shop Name 3</span></a><a href="../index.hbs"><span>V-shop Name 4</span></a></nav>
    </header>
    <!--以下是页面内容-->
    <div class="p10 mt10">
      <h1 class="mb10"> 云微店英雄榜 </h1>
      <p>微店英雄，谁与争锋！快来查看，今天你榜上有名了吗~</p>
      <div class="m30">
        <div class="jindu mt10">
          <div class="pm"><b>239</b><span>排名</span></div>
          <div class="dj">LV<b>8</b><span>等级</span></div>
          <div style="width: 184px;height: 184px;border-radius: 50%;margin: 2px auto;overflow: hidden;border: 4px #fff solid;">
            <div class="jindu2" style="margin-top:56%">
              <div class="bl"><img src="/css/images/bl.gif" alt="" class="imgMl"></div>
            </div>
          </div>
        </div>
        <div class="mt10 ovh w200 mat">
          <div class="l f20 tc b cr"><b>1250</b>
            <p class="f12 nb">成长值</p>
          </div>
          <div class="r f20 tc b cg"><b>3500</b>
            <p class="f12 nb">成长值</p>
          </div>
        </div>
         <h1 class="jd100 cl w200 mat">
          <div class="jd_in" style="width:30%"><span>LV8</span></div>
        </h1>
      </div>
      <p class="mb10 mt10">多多参加店铺活动，获得更多成长值，参加国际店铺大PK！</p>
      <h2 class=" title2">如何获得积分？</h2>
      <table class="tab1">
        <tr>
          <th class="pct20">获得方式</th>
          <th class="pct40">积分数量</th>
          <th class="pct40">完成情况</th>
        </tr>
        <tr>
          <td>每日登录</td>
          <td>5 积分</td>
          <td class="tl"><span class="itemYes"></span>完成，已领取</td>
        </tr>
        <tr>
          <td>游客访问</td>
          <td>每人次1积分<br>
            （每日最高15积分）</td>
          <td class="tl"><span class="itemNo"></span>未完成</td>
        </tr>
        <tr>
          <td>游客购物</td>
          <td>购物金额获得等值积分</td>
          <td class="tl"><span class="itemYes"></span>完成<a href="#" class="abtnL">领取</a><a href="#" class="abtnL"><span class="cyl">×2</span></a></td>
        </tr>
        <tr>
          <td>一元夺宝充值</td>
          <td>10 积分</td>
          <td class="tl"><span class="itemYes"></span>完成</td>
        </tr>
      </table>
    </div>
    <!--以下是页脚内容-->
    {{> footer}}
  </section>
</article>
</body>

