<body>
<article id="main">
  {{> nav}}
  <section class="content">
    <header>
      <div class="h38 rel pl10 pr10 bline"><a href="#" id="menu"></a>
        <div class="Logo">
          <p class="f16">我的云微店</p>
          <p class="f12">Beta Version 1.0.1</p>
        </div>
        <a href="/shop/Vshop-ranking" id="lv">LV10</a>
        <!--<a href="#" id="cai">全部商品</a>--></div>
      <nav id="nav"><a href="../"><span>V-shop Name 1</span></a><a href="../index.hbs"><span>V-shop Name 2</span></a><a href="../index.hbs"><span>V-shop Name 3</span></a><a href="../index.hbs"><span>V-shop Name 4</span></a></nav>
    </header>
    <!--以下是页面内容-->
    <div class="p10 mt10">
      <h1 class="mb10"> 云微店英雄榜 </h1>
      <p class="mb10">微店英雄，谁与争锋！快来查看，今天你榜上有名了吗~</p>
      <div class="mb10">
<div class="tc ovh bgwh mt10 p10">
        <p class="cr nb">您当前的微店</p>
          <div class="jindu mt10">
  <div style="
    background: #EEEEEE;  
    border: 3px solid #FFFFFF;  color: white!important;  text-align: center;  box-sizing: border-box;  position: relative;  line-height: 19px;  font-size: 12px;  border-radius: 50%;  overflow: hidden;  
    width: 186px;
    height: 186px;
    left: 6px;
    z-index: 1;
    top: 6px;
"><div style="
    background: #FFFFFF;    
    color: rgb(134, 134, 134)!important;  text-align: center;  box-sizing: border-box;  position: relative;  line-height: 19px;  font-size: 12px;  border-radius: 50%;  overflow: hidden;  
    width: 168px;
    height: 177px;
    left: 6px;
    z-index: 1;
    top: 6px;
    padding-top: 62px;
"><img src="/css/images/hg-r.png" alt="" height="25px;" style="" class="mr2"><br><span style="
    font-size: 29px;
    padding-top: 5px;
    color: #c51230;
">LV8</span><br>等级</div></div>
            <div class="jindu2" style="margin-top: -37%;"></div>
          </div>
          <div style="
    position: relative;
    width: 100%;
    background: #FFF;
    font-size: 19px;
    margin-top: -31px;
    height: 35px;
    z-index: 3;
    line-height: 35px;
    color: #c51230;
">当前排名：2145</div><p class="tc mb10 mt10" style="
    font-size: 25px;
    color: rgb(134, 134, 134)!important;
"><span class="cr">2739</span> &nbsp;&nbsp;|&nbsp;&nbsp;<span class="">3500</span><br><span style="
    font-size: 18px;
">成长值</span></p>
        </div>
      </div>
      <table class="tab1 mb10">
        <tr>
          <th>排名</th>
          <th>英雄昵称</th>
          <th>等级</th>
          <th>积分</th>
        </tr>
        <tr>
          <td>No.1</td>
          <td>栩栩如生</td>
          <td>LV8</td>
          <td>283,744</td>
        </tr>
        <tr>
          <td>No.2</td>
          <td>小胖</td>
          <td>LV6</td>
          <td>283,744</td>
        </tr>
        <tr>
          <td>No.3</td>
          <td>阿凡达</td>
          <td>LV5</td>
          <td>283,744</td>
        </tr>
        <tr>
          <td>No.4</td>
          <td>阿凡达</td>
          <td>LV1</td>
          <td>283,744</td>
        </tr>
        <tr>
          <td>No.5</td>
          <td>阿凡达</td>
          <td>LV10</td>
          <td>283,744</td>
        </tr>
      </table>
      <p class="mb10">多多参加店铺活动，获得更多成长值，参加国际店铺大PK！</p>
      <h2 class=" title2">如何获得积分？</h2>
      <table class="tab1">
        <tr>
          <th>获得方式</th>
          <th>积分数量</th>
          <th>完成情况</th>
        </tr>
        <tr>
          <td>每日登录</td>
          <td>5 积分</td>
          <td><span class="itemYes"></span>已完成</td>
        </tr>
        <tr>
          <td>游客访问</td>
          <td>每人次1积分<br>
            （每日最高15积分）</td>
          <td><span class="itemNo"></span>未完成</td>
        </tr>
        <tr>
          <td>游客购物</td>
          <td>购物金额获得等值积分</td>
          <td><span class="itemYes"></span>已完成</td>
        </tr>
        <tr>
          <td>一元夺宝充值</td>
          <td>10 积分</td>
          <td><span class="itemYes"></span>已完成</td>
        </tr>
      </table>
    </div>
    <!--以下是页脚内容-->
    {{> footer}}
  </section>
</article>
</body>

