<body>
<article id="main">
  {{> nav}}
  <section class="content">
    <header>
      <div class="h38 rel pl10 pr10 bline"><a href="#" id="menu"></a>
        <div class="Logo">
          <p class="f16">我的云微店</p>
          <p class="f12">Beta Version 1.0.1</p>
        </div>
        <a href="/shop/Vshop-ranking" id="lv">LV10</a>
        <!--<a href="#" id="cai">全部商品</a>--></div>
      <nav id="nav"><a href="../"><span>V-shop Name 1</span></a><a href="../index.hbs"><span>V-shop Name 2</span></a><a href="../index.hbs"><span>V-shop Name 3</span></a><a href="../index.hbs"><span>V-shop Name 4</span></a></nav>
    </header>
    
    <!--以下是页面内容-->
      <div class="tc" style="color:#F1B7B7;background:url(css/images/bac.jpg) no-repeat top center #C51230;background-size:auto 126px;height:120px;"><p class="wh fa" style="padding-top:65px;font-size:30px">32,844</p>
      <p class="wh fa" style="padding-top:2px;font-size:12px">天狮金币</p></div>
      <p class="p10">色块的费了劲看电视了，发觉得快乐撒酒疯了，发电机卡酸辣粉就领导是否。</p>
    <div class="line"></div>
    <div class="p10">
      <h1 class="mb4">全球实时排名</h1>
      <table class="tab1 mb10">
        <tbody><tr>
          <th>排名</th>
          <th>英雄昵称</th>
          <th>等级</th>
          <th>积分</th>
        </tr>
        <tr>
          <td>No.1</td>
          <td>栩栩如生</td>
          <td>LV8</td>
          <td>283,744</td>
        </tr>
        <tr>
          <td>No.2</td>
          <td>小胖</td>
          <td>LV6</td>
          <td>283,744</td>
        </tr>
        <tr>
          <td>No.3</td>
          <td>阿凡达</td>
          <td>LV5</td>
          <td>283,744</td>
        </tr>
        <tr>
          <td>No.4</td>
          <td>阿凡达</td>
          <td>LV1</td>
          <td>283,744</td>
        </tr>
        <tr>
          <td>No.5</td>
          <td>阿凡达</td>
          <td>LV10</td>
          <td>283,744</td>
        </tr>
        <tr>
          <td>No.6</td>
          <td>阿凡达</td>
          <td>LV10</td>
          <td>283,744</td>
        </tr>
        <tr>
          <td>No.7</td>
          <td>阿凡达</td>
          <td>LV10</td>
          <td>283,744</td>
        </tr>
        <tr>
          <td>No.8</td>
          <td>阿凡达</td>
          <td>LV10</td>
          <td>283,744</td>
        </tr>
        <tr>
          <td>No.9</td>
          <td>阿凡达</td>
          <td>LV10</td>
          <td>283,744</td>
        </tr>
        <tr>
          <td>No.10</td>
          <td>阿凡达</td>
          <td>LV10</td>
          <td>283,744</td>
        </tr>
        <tr>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
        </tr>
        <tr style="background: #FFEFE8;">
          <td>No.541</td>
          <td>阿凡达</td>
          <td>LV10</td>
          <td>283,744</td>
        </tr>
      </tbody></table>
    </div>
    <!--以下是页脚内容-->
    {{> footer}}
  </section>
</article>
</body>

