<nav class="nav">
    <ul>
        <li class="bac"><a href="#"></a></li>
        <li><a href="/shop/Vshop" class="nav1"><span>我的微店</span></a></li>
        <li><a href="/shop/myOrder" class="nav2"><span>我的订单</span></a></li>
        <li><a href="/shop/Vshop-er" class="nav3"><span>二维码</span></a></li>
        <li><a href="#" class="nav4"><span>每日签到</span></a></li>
        <li><a href="#" class="nav5"><span>一元夺宝</span></a></li>
        <li><a href="#" class="nav9"><span>天狮微社区</span></a></li>
        <li><a href="/shop/jiameng" class="nav7"><span>商户加盟</span></a></li>
        <li><a href="/games/games" class="nav10"><span>拼图大战</span></a></li>
        <li><a href="#" class="nav8"></a></li>
    </ul>
    <div class="bacBtn"></div>
</nav>
