<header>
    <div class="h38 rel pl10 pr10 bline"><a href="#" id="menu"></a> <div class="Logo">
        <p class="f16">我的云微店</p><p class="f12">Beta Version 1.0.1</p></div><a href="Vshop-ranking.html" id="lv">LV10</a>
        <!--<a href="#" id="cai">全部商品</a>--></div>
    <nav id="nav"><a href="/"><span>V-shop Name 1</span></a><a href="../index.hbs"><span>V-shop Name 2</span></a><a href="../index.hbs"><span>V-shop Name 3</span></a><a href="../index.hbs"><span>V-shop Name 4</span></a></nav>
</header>