<div class="cbp-loadMore-block1">

    <div class="graphic web-design cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="img/img-1.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="ajax_project1" class="cbp-singlePage cbp-l-caption-buttonLeft">more info</a>
                        <a href="img/img-1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Shopping Gallery<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title">Shopping Gallery</div>
        <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
    </div>
    <div class="graphic logos cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="img/img-2.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="ajax_project1" class="cbp-singlePage cbp-l-caption-buttonLeft">more info</a>
                        <a href="img/img-2.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Timezone Mgmt<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title">Timezone Mgmt</div>
        <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
    </div>
    <div class="graphic logos cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="img/img-3.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="ajax_project1" class="cbp-singlePage cbp-l-caption-buttonLeft">more info</a>
                        <a href="img/img-3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Story Book<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title">Story Book</div>
        <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
    </div>
    <div class="identity web-design cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="img/img-4.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="ajax_project1" class="cbp-singlePage cbp-l-caption-buttonLeft">more info</a>
                        <a href="img/img-5.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Website Lightbox<br>by Paul Flavius Nechita">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title">Website Lightbox</div>
        <div class="cbp-l-grid-projects-desc">Identity</div>
    </div>

</div>



<div class="cbp-loadMore-block2">

    <div class="graphic web-design cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="img/img-7.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="ajax_project1" class="cbp-singlePage cbp-l-caption-buttonLeft">more info</a>
                        <a href="img/img-7.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Mountaineer<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title">Mountaineer</div>
        <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
    </div>
    <div class="identity logos cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="img/img-6.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="ajax_project1" class="cbp-singlePage cbp-l-caption-buttonLeft">more info</a>
                        <a href="img/img-6.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Archiview<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title">Archiview</div>
        <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
    </div>
</div>
