<!DOCTYPE html>
<html lang="en">
    <%- include head.html%>
    <body>
    <div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="ASSAN"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown active">
                        <a href="/" >首页</a>
                    </li>
                    <!--menu home li end here-->
                    <li class="dropdown">
                        <a href="/user_blog">博客</a>
                    </li>
                    <!--menu blog li end here-->
                    <li class="dropdown">
                        <a href="/shop_home">商城</a>
                    </li> <!--menu Shop li end here-->
                    <!--mega menu-->
                    <li class="dropdown">
                        <a href="/about">关于我们</a>
                    </li> <!--menu Features li end here-->
                    <!--mega menu end-->
                    <li class="dropdown">
                        <a href="" class=" dropdown-toggle"><i class="fa fa-shopping-cart"></i>(0)</a>
                    </li>
                    <!--menu cart li end here-->
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--container-->
    </div><!--navbar-default-->
        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>Error 404</h5>
                    </div>
                    <div class="col-sm-6 hidden-xs text-right">
                        <ol class="breadcrumb">
                            <li><a href="/">首页</a></li>
                            <li>404</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--breadcrumbs-->
        <div class="divide60"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center error-text">
                    <div class="divide30"></div>
                    <h1 class="error-digit wow animated fadeInUp margin20"><i class="fa fa-thumbs-down"></i></h1>
                    <h2>Opps, the page could not be found!</h2>
                    <p><a onclick="window.location.href = document.referrer" class="btn border-black btn-lg">Go Back</a></p>
                </div>
            </div>
        </div>
        <div class="divide40"></div>
          <%- include shop_footer.html%>
    </body>
</html>
