<!DOCTYPE html>
<html lang="en">
   <%- include head.html%>
    <body>
        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="ASSAN"></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="/">首页</a>
                        </li>
                        <!--menu home li end here-->
                        <li class="dropdown">
                            <a href="/user_blog">博客</a>
                        </li>
                        <!--menu blog li end here-->
                        <li class="dropdown active">
                            <a href="/shop_home" class="dropdown-toggle" data-toggle="dropdown">商城<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/shop_home">商城首页</a></li>
                                <li><a href="">商品详情</a></li>
                                <li><a href="/shop_cart">购物车</a></li>
                                <li><a href="shop_checkout">结算中心</a></li>
                            </ul>
                        </li> <!--menu Shop li end here-->
                        <!--mega menu-->
                        <li class="dropdown yamm-fw">
                            <a href="/about">关于我们</a>
                        </li> <!--menu Features li end here-->
                        <!--mega menu end-->    

                        <li class="dropdown " data-animate="animated fadeInUp" style="z-index:500;">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown"><i class="fa fa-search"></i></a>
                            <ul class="dropdown-menu search-dropdown animated fadeInUp">
                                <li id="dropdownForm">
                                    <div class="dropdown-form">
                                        <form class=" form-inline">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="search...">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-theme-bg" type="button">enter</button>
                                                </span>
                                            </div><!--input group-->
                                        </form><!--form-->
                                    </div><!--.dropdown form-->
                                </li><!--.drop form search-->
                            </ul><!--.drop menu-->
                        </li> <!--menu search li end here-->
                        <li class="dropdown">
                            <a href="#" class=" dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i> (2)</a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-login-box shop-cart animated fadeInUp">
                                <ol class="list-unstyled">
                                    <li  class="clearfix">
                                        <img src="shop-img/p-8.jpg" class="img-responsive" alt="">
                                        <div class="cart-desc">
                                            <h5>Puma originals
                                                <span class="close"><i class="fa fa-trash-o"></i></span>
                                            </h5>
                                            <span class="cart-item-price">
                                                <del>$199</del> $99
                                            </span>                                          
                                        </div>
                                    </li>
                                    <li  class="clearfix">
                                        <img src="shop-img/p-4.jpg" class="img-responsive" alt="">
                                        <div class="cart-desc">
                                            <h5>Puma originals
                                                <span class="close"><i class="fa fa-trash-o"></i></span>
                                            </h5>
                                            <span class="cart-item-price">
                                                <del>$199</del> $99
                                            </span>                                          
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <span class="cart-total pull-left">
                                            TOTAL : $198
                                        </span>
                                        <span class=" pull-right">
                                            <a href="shop_cart" class="btn btn-theme-bg btn-xs">查看购物车</a>
                                        </span>
                                    </li>
                                </ol>
                            </div>
                        </li> <!--menu cart li end here-->
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--container-->
        </div><!--navbar-default-->

        <div class="breadcrumb-wrap breadcrumb-light">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Product detail</h4>
                        <p>Find the best products in our store</p>
                    </div>
                    <div class="col-sm-6 hidden-xs text-right">
                        <ol class="breadcrumb">
                            <li><a href="/shop_home">商城首页</a></li>
                            <li>商品详情</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--breadcrumb light-->
        <div class="divide60"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-9 margin30">
                    <div class="row">
                        <div class="col-sm-5 margin30">
                            <div class="detail-img-col">
                                <a href="shop-img/detail-lg.jpg" class="show-image">
                                    <img src="shop-img/detail-lg.jpg" alt="">
                                </a>
                                <div class="divide15"></div>
                                <a href="shop-img/detail-sm.jpg" class="show-image detail-img-sm">
                                    <img src="shop-img/detail-sm.jpg" alt="" class="img-responsive">
                                </a>
                                <a href="shop-img/detail-sm-2.jpg" class="show-image  detail-img-sm">
                                    <img src="shop-img/detail-sm-2.jpg" alt="" class="img-responsive">
                                </a>
                                <a href="shop-img/detail-sm-3.jpg" class="show-image  detail-img-sm">
                                    <img src="shop-img/detail-sm-3.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                        </div><!--product detail img col end-->

                        <div class="col-sm-7">
                            <div class="detail-content-right">
                                <h3 class="title">
                                    Men's Check shirt
                                </h3>

                                <ul class="list-inline rating-list">
                                    <li class="detail-price">$49</li>
                                    <li><i class="fa fa-star yellow"></i></li>
                                    <li><i class="fa fa-star yellow"></i></li> 
                                    <li><i class="fa fa-star yellow"></i></li> 
                                    <li><i class="fa fa-star gray"></i></li> 
                                    <li><i class="fa fa-star gray"></i></li> 
                                    <li class="review"><a href="#review">(1 Review)</a></li>
                                </ul> 
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
                                </p>
                                <hr>
                                <ul class="list-unstyled product-feautres-list">
                                    <li><i class="fa fa-check"></i> 100% original items</li>
                                    <li><i class="fa fa-check"></i> made in Usa</li>
                                    <li><i class="fa fa-check"></i> 30 day Money back</li>
                                </ul>
                                <hr>

                                <div class="add-cart">
                                    <div class="input-group bootstrap-touchspin" style="">
                                        <input name="item_id" value="2" type="text" style="display:none">
                                        <input type="text" class="form-control input-qty text-center" value="1" name="item_number">
                                    </div><!--bootstrap touchspin end-->
                                    <button class="btn btn-theme-bg" data-toggle="tooltip"
                                            data-placement="top" title="添加到购物车" onclick="addItem()">Add to cart</button>
                                </div>
                                <hr>
                                <div class="product-cat-text">
                                    <p><strong>SKU:</strong> 2134</p>
                                    <p><strong>Category:</strong><a href="#"> Men's shirt</a></p>
                                    <p><strong>Tags:</strong> <a href="#">Shirts</a>, <a href="#">T-shirts</a></p>
                                </div>
                            </div>
                        </div>
                    </div><!--product details up end-->
                    <hr>

                    <!--review and details-->
                    <div class="tabs" id="review">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">Description</a></li>
                            <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">Reviews (1)</a></li>

                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="home">
                                <div class="tab-desc animated fadeInDown">

                                    <h4>Product Description</h4>

                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
                                    </p>
                                </div> 

                            </div>
                            <div class="tab-pane" id="profile">
                                <div class="tab-desc animated fadeIn">

                                    <div class="margin40">
                                        <h5>1 review for Men's Check shirt</h5>
                                        <div class="review-box">
                                            <img src="img/team-1.jpg" alt="" class="img-responsive">
                                            <div class="review-content">

                                                <ul class="list-inline rating-list">
                                                    <li class="admin-detail"><span><strong>Admin</strong> - March 10, 2015</span></li>
                                                    <li><i class="fa fa-star yellow"></i></li>
                                                    <li><i class="fa fa-star yellow"></i></li> 
                                                    <li><i class="fa fa-star yellow"></i></li> 
                                                    <li><i class="fa fa-star yellow"></i></li> 
                                                    <li><i class="fa fa-star-half-empty gray"></i></li> 

                                                </ul>
                                                <p>
                                                    Great service, i love this product.
                                                </p>
                                            </div>
                                        </div><!--review box end-->
                                    </div><!--div-->
                                    <div class="comment-form">
                                        <h3 class="heading">Add Review</h3>
                                        <div class="form-contact">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label for="name">Name</label>
                                                    <input type="text" class="form-control" id="name" required="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input type="email" class="form-control" id="email" required="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="message">Comment</label>
                                                    <textarea class="form-control" rows="7" id="message" required=""></textarea>
                                                </div>                      
                                                <button type="submit" class="btn btn-theme-bg btn-lg pull-right">Comment</button>
                                            </form>
                                        </div>
                                    </div><!--comment form end-->
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--review and details end-->

                </div><!--products list columns end-->
                <div class="col-md-3">
                    <div class="sidebar-info-box">
                        <div class="services-box wow animated fadeInUp animated">
                            <div class="services-box-icon">
                                <i class="fa fa-truck"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>Free Delivery</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing metus.
                                </p>
                            </div>
                        </div>
                    </div><!--sidebar info box-->
                    <hr>
                    <div class="sidebar-info-box">
                        <div class="services-box wow animated fadeInUp animated">
                            <div class="services-box-icon">
                                <i class="fa fa-gift"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>100% originals</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing metus.
                                </p>
                            </div>
                        </div>
                    </div><!--sidebar info box-->
                    <hr>
                    <div class="sidebar-info-box">
                        <div class="services-box wow animated fadeInUp animated">
                            <div class="services-box-icon">
                                <i class="fa fa-clock-o"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>30 days money back</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing metus.
                                </p>
                            </div>
                        </div>
                    </div><!--sidebar info box-->
                </div>
            </div>
            <div class="divide50"></div>
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="heading">Featured items</h3>
                </div>

                <div class="col-md-3 margin40">
                    <div class="product-col">
                        <a href="/shop_detail">
                            <img src ="shop-img/p-7.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="product-desc-sh">
                            <h4><a href="/shop_detail">Mens Wears</a></h4>
                            <span>$928</span>
                            <a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                        </div>                     
                    </div><!--products show col end-->
                </div><!--col sm 6-->
                <div class="col-md-3 margin40">
                    <div class="product-col">
                        <span class="sale-label">Sale</span>
                        <a href="/shop_detail">
                            <img src ="shop-img/p-8.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="product-desc-sh">
                            <h4><a href="/shop_detail">Formal Shoes</a></h4>
                            <span><del>$199</del> $149</span>
                            <a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                        </div>                     
                    </div><!--products show col end-->
                </div><!--col sm 6-->
                <div class="col-md-3 margin40">
                    <div class="product-col">
                        <span class="sale-label">Sale</span>
                        <a href="/shop_detail">
                            <img src ="shop-img/p-9.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="product-desc-sh">
                            <h4><a href="/shop_detail">Canon Flash</a></h4>
                            <span><del>$199</del> $149</span>
                            <a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                        </div>                     
                    </div><!--products show col end-->
                </div><!--col sm 6-->
                <div class="col-md-3 margin40">
                    <div class="product-col">
                        <span class="sale-label">Sale</span>
                        <a href="/shop_detail">
                            <img src ="shop-img/p-10.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="product-desc-sh">
                            <h4><a href="/shop_detail">Open shirts</a></h4>
                            <span><del>$199</del> $149</span>
                            <a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                        </div>                     
                    </div><!--products show col end-->
                </div><!--col sm 6-->
            </div><!--related product-->
        </div><!--shop columns container end-->


        <div class="divide30"></div>
        <%- include shop_footer.html%>
        <!--customizable plugin edit according to your needs-->
        <script src="js/bootstrap.touchspin.js" type="text/javascript"></script>
        <script>

            $(function() {
                $('.input-qty').TouchSpin({
                    min: 1,
                    max: 25
                });
            });

            function addItem(){
                var item_id=$("input[name=item_id]").val();
                var num=$("input[name=item_number]").val();
                if('<%=user%>'=='undefined'||'<%=user%>'=='null'){
                    window.location="user_login?shop_detail"
                }
                $.ajax({
                    type:"post",
                    url:"/add/item",
                    data:{item_id:item_id,num:num},
                    success:function(){
                       // alert(1);
                    }
                })
            }
        </script>
    </body>
</html>
