<!DOCTYPE html>
<html lang="en">
    <%- include head.html%>
    <!--sky form pro css-->
        <link href="sky-form/css/sky-forms.css" rel="stylesheet">
    <body>
        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="ASSAN"></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="/" >首页</a>
                        </li>
                        <!--menu home li end here-->
                        <li class="dropdown">
                            <a href="/user_blog">博客</a>
                        </li>
                        <!--menu blog li end here-->
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">商城<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/shop_home">商城首页</a></li>
                                <li><a href="shop_detail">商品详情</a></li>
                                <li><a href="/shop_cart">购物车</a></li>
                                <li><a href="">结算中心</a></li>
                            </ul>
                        </li> <!--menu Shop li end here-->
                        <!--mega menu-->
                        <li class="dropdown yamm-fw">
                            <a href="/about">关于我们</a>
                        </li> <!--menu Features li end here-->
                        <!--mega menu end-->
						<li class="dropdown">
							<a href="#" class=" dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i> (<%=count%>)</a>
							<div class="dropdown-menu dropdown-menu-right cart-box shop-cart animated fadeInUp pre-scrollable">
								<ol class="list-unstyled">
									<%
									if(item)
									item.forEach(function(item){%>

									<li  class="clearfix">
										<img src="shop-img/p-8.jpg" class="img-responsive" alt="">
										<div class="cart-desc">
											<h5>Puma originals
												<span class="close" onclick="delItem('<%=item.item_id%>')"><i class="fa fa-trash-o"></i></span>
											</h5>
                                            <span class="cart-item-price">
                                                <del>199</del> 99
                                            </span>
										</div>
									</li>
									<%})%>

									<li class="clearfix">
                                        <span class="cart-total pull-left">
                                            TOTAL : 198
                                        </span>
                                        <span class=" pull-right">
                                            <a href="shop_cart" class="btn btn-theme-bg btn-xs">查看购物车</a>
                                        </span>
									</li>
								</ol>
							</div>
						</li> <!--menu cart li end here-->
						<li class="dropdown " id="user_name"></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--container-->
        </div><!--navbar-default-->

        <div class="breadcrumb-wrap breadcrumb-light">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Shop Checkout</h4>
                        <p>Find the best products in our store</p>
                    </div>
                    <div class="col-sm-6 hidden-xs text-right">
                        <ol class="breadcrumb">
                            <li><a href="home-shop.html">商城首页</a></li>
                            <li>结算</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--breadcrumb light-->
        <div class="divide60"></div>

        <div class="container">
            <div class="row">
                
                <div class="col-md-8 margin30 sky-form-columns">
                    <div class="login-link">
                        <span>Returning customer? <a href="shop-login.html">Click here to login</a></span>
                    </div>
                    <!--sky form checkout-->
                    <p class="margin20">Fill out this form to complete your order</p>
                   	<form action="" id="checkout-form" class="sky-form">
				
                            
				<fieldset>					
					<div class="row">
						<section class="col col-6">
							<label class="input">
								<i class="icon-prepend fa fa-user"></i>
								<input type="text" name="fname" placeholder="First name">
							</label>
						</section>
						<section class="col col-6">
							<label class="input">
								<i class="icon-prepend fa fa-user"></i>
								<input type="text" name="lname" placeholder="Last name">
							</label>
						</section>
					</div>
					
					<div class="row">
						<section class="col col-6">
							<label class="input">
								<i class="icon-prepend fa fa-envelope"></i>
								<input type="email" name="email" placeholder="E-mail">
							</label>
						</section>
						<section class="col col-6">
							<label class="input">
								<i class="icon-prepend fa fa-phone"></i>
								<input type="tel" name="phone" placeholder="Phone">
							</label>
						</section>
					</div>
				</fieldset>
				
				<fieldset>
					<div class="row">
						<section class="col col-5">
							<label class="select">
								<select name="country">
									<option value="0" selected disabled>Country</option>
									<option value="244">Aaland Islands</option>
								</select>
								<i></i>
							</label>
						</section>
						
						<section class="col col-4">
							<label class="input">
								<input type="text" name="city" placeholder="City">
							</label>
						</section>
						
						<section class="col col-3">
							<label class="input">
								<input type="text" name="code" placeholder="Post code">
							</label>
						</section>
					</div>
					
					<section>
						<label for="file" class="input">
							<input type="text" name="address" placeholder="Address">
						</label>
					</section>
					
					<section>
						<label class="textarea">
							<textarea rows="3" name="info" placeholder="Additional info"></textarea>
						</label>
					</section>
				</fieldset>
				
				<fieldset>
					<section>
						<div class="inline-group">
							<label class="radio"><input type="radio" name="radio-inline" checked><i></i>Visa</label>
							<label class="radio"><input type="radio" name="radio-inline"><i></i>MasterCard</label>
							<label class="radio"><input type="radio" name="radio-inline"><i></i>PayPal</label>
						</div>
					</section>					
					
					<section>
						<label class="input">
							<input type="text" name="name" placeholder="Name on card">
						</label>
					</section>
					
					<div class="row">
						<section class="col col-10">
							<label class="input">
								<input type="text" name="card" id="card" placeholder="Card number">
							</label>
						</section>
						<section class="col col-2">
							<label class="input">
								<input type="text" name="cvv" id="cvv" placeholder="CVV2">
							</label>
						</section>
					</div>
					
					<div class="row">
						<label class="label col col-4">Expiration date</label>
						<section class="col col-5">
							<label class="select">
								<select name="month">
									<option value="0" selected disabled>Month</option>
									<option value="1">January</option>
									<option value="1">February</option>
									<option value="3">March</option>
									<option value="4">April</option>
									<option value="5">May</option>
									<option value="6">June</option>
									<option value="7">July</option>
									<option value="8">August</option>
									<option value="9">September</option>
									<option value="10">October</option>
									<option value="11">November</option>
									<option value="12">December</option>
								</select>
								<i></i>
							</label>
						</section>
						<section class="col col-3">
							<label class="input">
								<input type="text" name="year" id="year" placeholder="Year">
							</label>
						</section>
					</div>
				</fieldset>
                             <div class="divide30"></div>
                            <hr>
                            <div class="divide30"></div>
				<footer class="text-right">
					<button type="submit" class="btn btn-theme-dark btn-lg">Place order</button>
				</footer>
			</form>		

                    <!--sky form checkout end here-->
                </div><!--products list columns end-->
                <div class="col-md-3 col-md-offset-1 shop-sidebar">
                    <div class="sidebar-box margin40">
                        <h4>Search</h4>
                        <form role="form" class="search-widget">
                            <input type="text" class="form-control">
                            <i class="fa fa-search"></i>
                        </form>
                    </div><!--sidebar-box-->

                    <div class="sidebar-box margin40">
                        <h4>Shop by brands</h4>
                        <ul class="list-unstyled cat-list">
                            <li> <a href="#">Us polo</a> <i class="fa fa-angle-right"></i></li>
                            <li> <a href="#">Levis</a> <i class="fa fa-angle-right"></i></li>
                            <li> <a href="#">Wrangler</a> <i class="fa fa-angle-right"></i></li>
                            <li> <a href="#">Reebok</a> <i class="fa fa-angle-right"></i></li>
                            <li> <a href="#">Adidas</a> <i class="fa fa-angle-right"></i></li>                     
                        </ul>
                    </div><!--sidebar-box-->
                    <div class="sidebar-box margin40">
                        <h4>Best sellers</h4>
                        <ul class="list-unstyled popular-post">
                            <li>
                                <div class="popular-img">
                                    <a href="#"> <img src="shop-img/p-1.jpg" class="img-responsive" alt=""></a>
                                </div>
                                <div class="popular-desc">
                                    <h5> <a href="#">lady topa</a></h5>
                                    <h6><del>$230</del> $150</h6>
                                </div>
                            </li>
                            <li>
                                <div class="popular-img">
                                    <a href="#"> <img src="shop-img/p-2.jpg" class="img-responsive" alt=""></a>
                                </div>
                                <div class="popular-desc">
                                    <h5> <a href="#">Gold bangles</a></h5>
                                    <h6> $250</h6>
                                </div>
                            </li>
                            <li>
                                <div class="popular-img">
                                    <a href="#"> <img src="shop-img/p-3.jpg" class="img-responsive" alt=""></a>
                                </div>
                                <div class="popular-desc">
                                    <h5> <a href="#">White blazer </a></h5>
                                    <h6>$99</h6>
                                </div>
                            </li>
                        </ul>
                    </div><!--sidebar-box-->
                    <div class="sidebar-box margin40">
                        <h4>Tag Cloud</h4>
                        <div class="tag-list">
                            <a href="#">Mens</a>
                            <a href="#">Womens</a>
                            <a href="#">jeans</a>
                            <a href="#">T-shirts</a>
                            <a href="#">Kids</a>
                            <a href="#">Offers</a>
                            <a href="#">Shoes</a>
                            <a href="#">Shirts</a>

                        </div>
                    </div>
                </div><!--sidebar-->
            </div>
        </div><!--shop columns container end-->


        <div class="divide60"></div>
          <%- include shop_footer.html%>
        <!--sky form plugin js-->
        <script src="sky-form/js/jquery.form.min.js" type="text/javascript"></script>
         <script src="sky-form/js/jquery.maskedinput.min.js" type="text/javascript"></script>
        <script src="sky-form/js/jquery.validate.min.js" type="text/javascript"></script>
       	
		<script type="text/javascript">
			$(function(){
				var user = '<%=user%>' || "undefined";
				var qquser = '<%=qquser%>' || "undefined";
				if (user == 'undefined' || user == 'null') {

				}
				else {
					$("#user_name").load("/user_getNickName");
				}

				if (qquser == 'undefined' || qquser == 'null') {

				}
				else {
					$("#user_name").load("/user_qqname");
				}
			});
			$(function()
			{
				// Masking
				$('#cvv').mask('999', {placeholder:'X'});
				$('#card').mask('9999-9999-9999-9999', {placeholder:'X'});
				$('#year').mask('2099', {placeholder:'X'});
				
				// Add validation method
				$.validator.addMethod("creditcard", function(value, element, param)
				{
					if( /[^0-9\-]+/.test(value) )
					{
						return false;
					}
				},
				$.validator.format('Please enter a valid credit card number.'));
				
				// Validation
				$('#checkout-form').validate(
				{					
					// Rules for form validation
					rules:
					{
						fname:
						{
							required: true
						},
						lname:
						{
							required: true
						},
						email:
						{
							required: true,
							email: true
						},
						phone:
						{
							required: true
						},
						country:
						{
							required: true
						},
						city:
						{
							required: true
						},
						code:
						{
							required: true,
							digits: true
						},
						address:
						{
							required: true
						},
						name:
						{
							required: true
						},
						card:
						{
							required: true
						},
						cvv:
						{
							required: true,
							digits: true
						},
						month:
						{
							required: true
						},
						year:
						{
							required: true,
							digits: true
						}
					},
										
					// Messages for form validation
					messages:
					{
						fname:
						{
							required: 'Please enter your first name'
						},
						lname:
						{
							required: 'Please enter your last name'
						},
						email:
						{
							required: 'Please enter your email address',
							email: 'Please enter a VALID email address'
						},
						phone:
						{
							required: 'Please enter your phone number'
						},
						country:
						{
							required: 'Please select your country'
						},
						city:
						{
							required: 'Please enter your city'
						},
						code:
						{
							required: 'Please enter code',
							digits: 'Digits only please'
						},
						address:
						{
							required: 'Please enter your full address'
						},
						name:
						{
							required: 'Please enter name on your card'
						},
						card:
						{
							required: 'Please enter your card number'
						},
						cvv:
						{
							required: 'Enter CVV2',
							digits: 'Digits only'
						},
						month:
						{
							required: 'Select month'
						},
						year:
						{
							required: 'Enter year',
							digits: 'Digits only please'
						}
					},					
					
					// Do not change code below
					errorPlacement: function(error, element)
					{
						error.insertAfter(element.parent());
					}
				});
			});


		</script>
    </body>
</html>
